<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Account Setup</h1>
    <p>This page will allow users to set up their role (teacher or supervisor).</p>
  </body>
</html>
