<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Supervisor Home</h1>
    <p>This is the main page for supervisors to view pending lesson plans and updates.</p>
  </body>
</html>
