<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Supervisor Profile</h1>
    <p>This page will show and allow updates to the supervisor’s profile information.</p>
  </body>
</html>
