<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>All Lesson Plans (Supervisor View)</h1>
    <p>This page will show all submitted lesson plans that the supervisor can review.</p>
  </body>
</html>
