<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>All Lesson Plans (Teacher View)</h1>
    <p>This page will display all of the teacher’s submitted lesson plans.</p>
  </body>
</html>
