<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Teaching Standards</h1>
    <p>This page will show all standards that teachers should follow when creating lesson plans.</p>
  </body>
</html>
