<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Teacher Home</h1>
    <p>This is the teacher’s dashboard page. It will show recent lesson plans and options to create new ones.</p>
  </body>
</html>
