<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <h1>Create New Lesson Plan</h1>
    <p>This page will contain a form for teachers to create and submit a new lesson plan.</p>
  </body>
</html>
